#
# Mail
#
# NEXT_PUBLIC_ENV= (LOCAL | undefined)
# NEXT_PUBLIC_LOCAL_HOST_EMAIL= (email address used when local)
NEXT_PUBLIC_ENV=
NEXT_PUBLIC_LOCAL_HOST_EMAIL=

#
# Sitemap and mails use this
#
NEXT_PUBLIC_APP_URL=

#
# PRISMA
#
PRISMA_DB_URL=

#
# AUTHJS
#
NEXTAUTH_SECRET=

#
# NPM (deprecated used for old eslintconfig)
#
NPM_TOKEN=

#
# MONGO SCRIPTS
#
# MONGO_SCRIPT_DB= (db url with credentials, without db name)
#
MONGO_SCRIPT_DB=

#
# LOCATIONIQ
# https://locationiq.com/
#
LOCATIONIQ_API_KEY=

#
# UPLOADTHING
# https://uploadthing.com
#
UPLOADTHING_TOKEN=
UPLOADTHING_SECRET=

#
# RESEND
# https://resend.com
#
RESEND_API_KEY=